<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsc.iorder.dao.FoodMapper">
    <select id="list" parameterType="com.tsc.iorder.domain.SearchParam" resultType="com.tsc.iorder.domain.Food">
        select f.*,t.typeName,m.moduleName from i_food f,i_foodtype t,i_module m where f.typeid = t.id and f.moduleid = m.id and concat(f.foodName,f.description,t.typeName,m.moduleName) like '%${input}%'
    </select>
    <select id="findByFoodName" parameterType="string" resultType="com.tsc.iorder.domain.Food">
        select f.*,t.typeName,m.moduleName from i_food f,i_foodtype t,i_module m where f.typeid = t.id and f.moduleid = m.id and f.foodName = #{foodName}
    </select>
    <select id="findById" parameterType="int" resultType="com.tsc.iorder.domain.Food">
        select f.*,t.typeName,m.moduleName from i_food f,i_foodtype t,i_module m where f.typeid = t.id and f.moduleid = m.id and f.id = #{id}
    </select>
    <select id="findByImg" parameterType="string" resultType="com.tsc.iorder.domain.Food">
        select f.*,t.typeName,m.moduleName from i_food f,i_foodtype t,i_module m where f.typeid = t.id and f.moduleid = m.id and f.img = #{img}
    </select>
    <select id="searchOne" parameterType="com.tsc.iorder.domain.SearchParam" resultType="com.tsc.iorder.domain.Food">
        select f.*,t.typeName,m.moduleName from
         i_food f,i_foodtype t,i_module m
         where f.typeid = t.id
         and f.moduleid = m.id
         and f.state = 1
         and f.moduleid = 1
         and f.foodName like '%${input}%'
         <if test="typeid!=0">
             and f.typeid = #{typeid}
         </if>
    </select>
    <select id="searchGraceful" parameterType="com.tsc.iorder.domain.SearchParam" resultType="com.tsc.iorder.domain.Food">
        select f.*,t.typeName,m.moduleName from
        i_food f,i_foodtype t,i_module m
        where f.typeid = t.id
        and f.moduleid = m.id
        and f.state = 1
        and f.moduleid = 3
        and f.foodName like '%${input}%'
        <if test="typeid!=0">
            and f.typeid = #{typeid}
        </if>
    </select>
    <select id="searchDrink" parameterType="com.tsc.iorder.domain.SearchParam" resultType="com.tsc.iorder.domain.Food">
        select f.*,t.typeName,m.moduleName from
        i_food f,i_foodtype t,i_module m
        where f.typeid = t.id
        and f.moduleid = m.id
        and f.state = 1
        and f.moduleid = 2
        and f.foodName like '%${input}%'
        <if test="typeid!=0">
            and f.typeid = #{typeid}
        </if>
    </select>
    <select id="searchSweet" parameterType="com.tsc.iorder.domain.SearchParam" resultType="com.tsc.iorder.domain.Food">
        select f.*,t.typeName,m.moduleName from
        i_food f,i_foodtype t,i_module m
        where f.typeid = t.id
        and f.moduleid = m.id
        and f.state = 1
        and f.moduleid = 4
        and f.foodName like '%${input}%'
        <if test="typeid!=0">
            and f.typeid = #{typeid}
        </if>
    </select>
    <select id="searchDiscount" parameterType="com.tsc.iorder.domain.SearchParam" resultType="com.tsc.iorder.domain.Food">
        select f.*,t.typeName from
        i_food f,i_foodtype t
        where f.typeid = t.id
        and f.state = 1
        and f.isDiscount = 1
        and f.foodName like '%${input}%'
        <if test="typeid!=0">
            and f.typeid = #{typeid}
        </if>
    </select>
    <insert id="addFood" parameterType="com.tsc.iorder.domain.Food">
        insert into i_food(foodName,img,typeid,moduleid,price,description) values (#{foodName},#{img},#{typeid},#{moduleid},#{price},#{description})
    </insert>
    <update id="lockByTypeId" parameterType="int">
        update i_food set state = 0,typeid = 5 where typeid = #{id}
    </update>
    <update id="updateIsDiscount" parameterType="com.tsc.iorder.domain.SearchParam">
        update i_food set isDiscount = #{event} where id = #{id}
    </update>
    <update id="updateIsState" parameterType="com.tsc.iorder.domain.SearchParam">
        update i_food set state = #{event} where id = #{id}
    </update>
    <update id="show" parameterType="com.tsc.iorder.domain.SearchParam">
        update i_food set state = 1 where id = #{id}
    </update>
    <update id="unShow" parameterType="com.tsc.iorder.domain.SearchParam">
        update i_food set state = 0 where id = #{id}
    </update>
    <update id="updateDiscount" parameterType="com.tsc.iorder.domain.SearchParam">
        update i_food set discount = #{discount} where id = #{id}
    </update>
    <update id="update" parameterType="com.tsc.iorder.domain.Food">
        update i_food set foodName = #{foodName},img = #{img},typeid = #{typeid},moduleid = #{moduleid},price = #{price},description = #{description} where id = #{id}
    </update>
    <delete id="delete" parameterType="com.tsc.iorder.domain.SearchParam">
        delete from i_food where id = #{id}
    </delete>
</mapper>