<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsc.iorder.dao.UserMapper">
    <select id="login" resultType="com.tsc.iorder.domain.User" parameterType="string">
        select u.*,r.rootName from i_user u,i_root r where u.root = r.id and u.username = #{username}
    </select>
    <select id="findUserById" parameterType="string" resultType="com.tsc.iorder.domain.User">
        select u.*,r.rootName from i_user u,i_root r where u.root = r.id and u.id = #{id}
    </select>
    <select id="findUserByUsername" parameterType="com.tsc.iorder.domain.User" resultType="com.tsc.iorder.domain.User">
        select u.*,r.rootName from i_user u,i_root r where u.root = r.id and u.username = #{username}
    </select>
    <select id="findImg" parameterType="string" resultType="com.tsc.iorder.domain.User">
        select u.*,r.rootName from i_user u,i_root r where u.root = r.id and u.img = #{img}
    </select>
    <select id="list" parameterType="com.tsc.iorder.domain.SearchParam" resultType="com.tsc.iorder.domain.User">
        select u.*,r.rootName from i_user u,i_root r where u.root = r.id and username !='root' and concat(u.username,r.rootName,u.name) like '%${input}%'
    </select>
    <select id="findUsers" parameterType="string" resultType="com.tsc.iorder.domain.User">
        select * from i_user where username = #{username}
    </select>
    <insert id="addUser" parameterType="com.tsc.iorder.domain.User">
        insert into i_user(username,password,root,img,name,date) values(#{username},#{password},#{root},#{img},#{name},#{date})
    </insert>
    <update id="update" parameterType="com.tsc.iorder.domain.User">
        update i_user set username = #{username},root = #{root},img = #{img},name = #{name} where id = #{id}
    </update>
    <update id="updatePass" parameterType="com.tsc.iorder.domain.User">
        update i_user set password = #{password} where username = #{username}
    </update>
    <update id="updateState" parameterType="com.tsc.iorder.domain.SearchParam">
        update i_user set state = #{event} where id = #{id}
    </update>
    <update id="lock" parameterType="com.tsc.iorder.domain.SearchParam">
        update i_user set state = 0 where id = #{id}
    </update>
    <update id="unlock" parameterType="com.tsc.iorder.domain.SearchParam">
        update i_user set state = 1 where id = #{id}
    </update>
    <delete id="delete" parameterType="com.tsc.iorder.domain.SearchParam">
        delete from i_user where id = #{id}
    </delete>
</mapper>