<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsc.iorder.dao.UserMapper">
    <select id="login" resultType="com.tsc.iorder.domain.User" parameterType="string">
        select u.*,r.rootName from i_user u,i_root r where u.root = r.id and u.username = #{username}
    </select>
    <select id="findUserById" parameterType="string" resultType="com.tsc.iorder.domain.User">
        select u.*,r.rootName from i_user u,i_root r where u.root = r.id and u.id = #{id}
    </select>
    <select id="list" parameterType="com.tsc.iorder.domain.SearchParam" resultType="com.tsc.iorder.domain.User">
        select u.*,r.rootName from i_user u,i_root r where u.root = r.id and concat(u.username,r.rootName,u.name) like '%${input}%'
    </select>
    <insert id="addUser" parameterType="com.tsc.iorder.domain.User">
        insert into i_user(username,password,root,img,name) values(#{username},#{password},#{root},#{img},#{name})
    </insert>
</mapper>