<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsc.iorder.dao.VipLevelMapper">
    <select id="list" parameterType="com.tsc.iorder.domain.SearchParam" resultType="com.tsc.iorder.domain.VipLevel">
        select * from i_vip_level where levelName like '%${input}%'
    </select>
    <select id="findById" parameterType="int" resultType="com.tsc.iorder.domain.VipLevel">
        select * from i_vip_level where id = #{id}
    </select>
    <select id="findDiscountMax" parameterType="java.lang.Double" resultType="java.lang.Double">
        select IFNULL(min(l.discountNum),10) maxCount from `i_vip_level` l where discountNum>#{discountNum}
    </select>
    <select id="findDiscountMin" parameterType="java.lang.Double" resultType="java.lang.Double">
        select IFNULL(MAX(l.discountNum),0) minCount from `i_vip_level` l where discountNum&lt;#{discountNum}
    </select>
    <select id="findMinMin" parameterType="java.lang.Double" resultType="java.lang.Double">
        select IFNULL(MAX(l.maxNum),100) minCount from `i_vip_level` l where l.maxNum&lt;=#{minNum}
    </select>
    <select id="findMinMax" parameterType="java.lang.Double" resultType="java.lang.Double">
        select min(l.maxNum) maxCount from `i_vip_level` l where l.maxNum>#{minNum}
    </select>
    <select id="findMaxMin" parameterType="java.lang.Double" resultType="java.lang.Double">
        select MAX(l.minNum) minCount from `i_vip_level` l where l.minNum&lt;#{maxNum}
    </select>
    <select id="findMaxMax" parameterType="java.lang.Double" resultType="java.lang.Double">
        select IFNULL(MIN(l.minNum),99999999.9) maxCount from `i_vip_level` l where l.minNum>=#{maxNum}
    </select>
    <select id="checkDiscountMax" resultType="java.lang.Double">
        select IFNULL(MIN(discountNum),10) from i_vip_level
    </select>
    <select id="checkDiscountMin" resultType="com.tsc.iorder.domain.VipLevel">
        select * from i_vip_level where discountNum = 0.1
    </select>
    <select id="checkMinMin" resultType="java.lang.Double">
        select IFNULL(MAX(maxNum),100) from i_vip_level
    </select>
    <select id="checkMinMax" resultType="com.tsc.iorder.domain.VipLevel">
        select * from i_vip_level where minNum = 99999999.9
    </select>
    <select id="checkMaxMax" resultType="com.tsc.iorder.domain.VipLevel">
        select * from i_vip_level where maxNum = 99999999.9
    </select>
    <select id="findByName" parameterType="string" resultType="com.tsc.iorder.domain.VipLevel">
        select * from i_vip_level where levelName = #{levelName}
    </select>
    <update id="update" parameterType="com.tsc.iorder.domain.VipLevel">
        update i_vip_level set minNum = #{minNum},maxNum = #{maxNum},levelName = #{levelName},discountNum = #{discountNum} where id = #{id}
    </update>
    <insert id="addVipLevel" parameterType="com.tsc.iorder.domain.VipLevel">
        insert into i_vip_level(minNum,maxNum,levelName,discountNum) values(#{minNum},#{maxNum},#{levelName},#{discountNum})
    </insert>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from i_vip_level where id = #{id}
    </delete>
</mapper>